@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
}

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  color-scheme: dark;
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}

@layer utilities {
  .no-spinners {
    -moz-appearance: textfield;
  }
  .no-spinners::-webkit-outer-spin-button,
  .no-spinners::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
